<head>
  <link rel="stylesheet" href="~/css/layout/edit.css">
</head>

@await Html.PartialAsync("_Navbar")

<div class="edit">

  @model Income

  <div class="text-center">

    <h1>
      <!--*--------NAME---------->
      <section class="name">
        <input asp-for="IncomeName" type="text" value="@Model.IncomeName" />
        <span asp-validation-for="IncomeName"></span>
      </section>
    </h1>
  </div>

  <form asp-action="Update" asp-controller="Income" method="post">
    <div class="income-container">
      <div class="nam-cat">
        <!--*--------CATEGORY---------->
        <section class="category">
          <label asp-for="Category">Category</label>
          <select asp-for="Category" value="@Model.Category">
            <option value="">Choose</option>
            <option value="Work">Work</option>
            <option value="Business">Business</option>
            <option value="Tips">Tips</option>
            <option value="Bonus">Bonus</option>
            <option value="Other">Other</option>
          </select>
          <span asp-validation-for="Category"></span>
        </section>
        <!--*--------AMOUNT---------->
        <section class="amount">
          <label asp-for="Amount">Amount</label>
          <input asp-for="Amount" type="text" value="@Model.Amount" />
          <span asp-validation-for="Amount"></span>
        </section>
        <!--*----------DATE------------>
        <section class="date">
          <label asp-for="date_time"># of Date</label>
          <input asp-for="date_time" type="date" value="@Model.date_time" />
          <span asp-validation-for="date_time"></span>
        </section>
      </div>

      <!--*----------DESCRIPTION------------>
      <div class="desc">
        <section class="text-box">
          <label asp-for="Description"></label>
          <textarea asp-for="Description" cols="35" rows="7" value="@Model.Description"></textarea>
          <span asp-validation-for="Description"></span>
        </section>
      </div>

      <!--* BUTTONS -->
      <div class="buttons">
        <button>Edit</button>
        <button>Go Back</button>
      </div>
    </div>
  </form>
</div>