@await Html.PartialAsync("_Navbar")

<head>
  <link rel="stylesheet" href="~/css/layout/nav.css">
</head>

@model List<Income>
  <h1>Income</h1>

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var income in Model) {
      <tr>
        <th scope="row">
          <a href="~/incomes/@income.IncomeId">
            @income.IncomeName
          </a>
        </th>
        <td>@income.Category</td>
        <td>@income.Description</td>
        <td>@income.Amount</td>
        <td>@income.date_time</td>
      </tr>
      }
    </tbody>
  </table>