@model List<Expense>

  <h1>Expenses</h1>


  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var expense in Model) {
      <tr>
        <th scope="row">@expense.ExpenseName</th>
        <td>@expense.Category</td>
        <td>@expense.Description</td>
        <td>@expense.Amount</td>
        <td>@expense.date_time</td>
      </tr>
      }
      <tr>
        <th scope="row">Name</th>
        <td>Category</td>
        <td>Description</td>
        <td>Amount</td>
        <td>Date</td>
      </tr>
    </tbody>
  </table>