<div class="text-center">
  <h1>Edit Expenses</h1>
</div>

@model Expense

<div class="text-center">
  <h1>Edit @Model.ExpenseName</h1>
</div>

<form asp-action="Update" asp-controller="Expense" asp-route-expenseId="@Model.ExpenseId" method="post">
  <div class="expenses-container">
    <div>
      <!--*--------NAME---------->
      <section class="name">
        <label asp-for="ExpenseName">Name:</label>
        <input asp-for="ExpenseName" type="text" value="@Model.ExpenseName" />
        <span asp-validation-for="ExpenseName"></span>
      </section>

      <!--*--------AMOUNT---------->
      <section class="amount">
        <label asp-for="Amount">Amount</label>
        <input asp-for="Amount" type="text" value="@Model.Amount" />
        <span asp-validation-for="Amount"></span>
      </section>

      <!--*--------CATEGORY---------->
      <div>
        <section class="category">
          <label asp-for="Category">Category</label>
          <select asp-for="Category" value="@Model.Category">
            <option value="">Choose</option>
            <option value="Housing">Housing</option>
            <option value="Transportation">Transportation</option>
            <option value="Food">Food</option>
            <option value="Utilities">Utilities</option>
            <option value="Insurance">Insurance</option>
            <option value="Health">Health</option>
            <option value="Personal">Personal</option>
            <option value="Savings">Savings</option>
            <option value="Entertainment">Entertainment</option>
            <option value="Additional">Additional Expenses</option>
          </select>
          <span asp-validation-for="Category"></span>
        </section>
      </div>
    </div>

    <!--*----------DATE------------>
    <section class="date">
      <label asp-for="date_time">Date</label>
      <input asp-for="date_time" type="date" value="@Model.date_time" />
      <span asp-validation-for="date_time"></span>
    </section>

    <!--*----------DESCRIPTION------------>
    <div>
      <section class="text-box">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" cols="55" rows="7" value="@Model.Description"></textarea>
        <span asp-validation-for="Description"></span>
      </section>

      <!--* BUTTONS -->
      <button>Submit</button>
    </div>
  </div>
</form>