@model Expense

<!--TODO ------------REMEMBER TO ADD ACTUAL DATA IN-------------->

<div class="ind-inc">
  <!--*--------NAME---------->
  <h1>@Model.ExpenseName</h1>
  <div class="cad">
    <!--*--------CATEGORY---------->
    <div class="cat">
      <h3>Category</h3>
      <p>@Model.Category</p>
    </div>
    <!--*--------AMOUNT---------->
    <div class="amt">
      <h3>Amount</h3>
      <p>@Model.Amount</p>
    </div>
    <!--*----------DATE------------>
    <div class="date">
      <h3>Date</h3>
      <p>@Html.DisplayFor(m => m.date_time)</p>
    </div>
  </div>
  <div class="deb">
    <!--*----------DESCRIPTION------------>
    <div class="des">
      <h3>Description</h3>
      <p>@Model.Description/p>
    </div>
    <!--*--------BUTTONS---------->
    <div class="buttons">
      <a class="delete" href="/expense/@Model.ExpenseId/delete">Delete</a>
      <a class="edit" href="/expenses/@Model.ExpenseId/edit">Edit</a>
    </div>
  </div>
</div>